#theMap {
	background: url(https://www.worldatlas.com/webimage/countrys/namerica/usstates/usa48out.gif);
	background-repeat: no-repeat;
	background-size: 200%; 
}

#searchBar {
	
}

/*#theMap {
	background-size: cover;
}