.navbar-nav {
  flex-direction:;
  display: inline;
}

#searchBar {
  padding: 10px;
  float: right;
}

ul {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #D3D3D3;
}

#image img {

display: block;
width:720px;
height:380px;
margin: 15px auto;

box-shadow: 10px 10px 5px grey;

}

.blockquote{
margin:12px;
}